@model ApartmentDTO
@{
	ViewData["Title"] = $"{Model.Name}";
}
<div class="container mybox my-5">
	<h1 class="text-center fw-bold">@Model.Name</h1>
	<div class="myAptSingle col-12 d-flex flex-column flex-lg-row">
		
		<div class="leftSingleAp col-12 col-lg-7 d-flex justify-content-center">
			<img src="@Model.ImageUrl" class="img-fluid" />
		</div>
		<div class="rightSingleAp col-12 col-lg-5 d-flex flex-column">

			<span class="fw-bold">@Model.Name</span> 
			<p>@Model.Details</p>
			<div class="col-12 container-single-apt d-flex flex-wrap gap-3">
				<div class="align-self-start d-flex col-12">
					<span class="label-info-single">Prezzo: @Model.Rate.ToString("c")</span>
				</div>
				<div class="align-self-start d-flex col-12 col-lg-4">
					<span class="label-info-single">Capienza: @Model.Occupancy</span>
				</div>
				<div class="align-self-start d-flex col-12 col-lg-4">
					<span class="label-info-single">Mq2: @Model.Mq2</span>
				</div>
			</div>
			<div class="my-3">
				<a class="myBtn orange" asp-controller="Apartment" asp-action="IndexApartment">
					<span class="text">Home</span><span class="icon">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
							<path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
						</svg>
					</span>
				</a>
			</div>


		</div>
	</div>
</div>	


